<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
  <add key="logDir" value="D:\logs\log-{0}.txt"/>
  <add key="uploadPath" value=".\resources"/>
  <add key="containerName" value="images"/>
  <add key="stgCnnStr" value="DefaultEndpointsProtocol=https;AccountName=stgpoc2wes;AccountKey=Ot+5CakzE74A7DPJLrurTfzNFiWu918jHJ0bCBNdGG1gRzhMHh1Qy4cDSY2fGkQg3vn36xM5+MzwH/vynZIzMA==;EndpointSuffix=core.windows.net"/>
  <add key="qtdThreads" value="64"/>
  <add key="deleteContainer" value="true"/>
  <add key="consoleLog" value="true"/>
  <add key="qtdFiles" value="200"/>

</appSettings>
</configuration>